.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
*.jar


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### properties ###
/src/main/resources/*.properties
/bin/main/resources/*.properties
src/main/resources/application.properties
src/main/resources/application.yml

### Mac ###
.DS_Store
.DS_Store?
_*
