<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<!-- <mapper namespace="com.oksusu.hdh.mapper.BoardMapper">
 
    <insert id="boardInsert" parameterType="com.oksusu.hdh.domain.EsSearchVO">
        insert into hdh_tb
            values
        (#{bno},#{title},#{name},#{content},#{index},#{type},#{id})
    </insert>
    
    <select id="listSelect" resultType="com.oksusu.hdh.domain.EsSearchVO">
    select * from hdh_tb
    
    </select>
    
    <select id="listIndex" resultType="com.oksusu.hdh.domain.EsSearchVO">
    select * from hdh_tb where index = #{index};
    </select>
    
    <select id="listType" resultType="com.oksusu.hdh.domain.EsSearchVO">
    select * from hdh_tb where type = #{type};
    </select>
    
    <update id="boardUpdate" parameterType="com.oksusu.hdh.domain.EsSearchVO">
    update hdh_tb set title= #{title}, content= #{content} where bno=#{bno}
    
    </update>
    
    <delete id="boardDelete" parameterType="com.oksusu.hdh.domain.EsSearchVO">
    delete from hdh_tb where bno = #{bno}
    </delete>
 
</mapper> -->


