.inputtest{
	width: 150px;
	display: inline-block;
}
.labeltest{
	width: 50px;
	margin: 10px;
}
.btntest{
	margin-left: 10px;
	
}
.nonepadding{
	padding : 0px;
}

.nonemargin{
	margin : 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.searchResult{
	height: 100%;
	overflow:scroll;
	border: 1px solid black;
}
.nonepaddingright{
	padding-right : 0px;
}

html, body{height: 100%; overflow: hidden;}
